<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div>
            {% if 'user_id' in session %}
            <p>You are logged in as:</p>
            <span class="first_name">{{user.first_name}}</span> <span class="last_name">{{user.last_name}}</span>
            {% endif %}
    
        </div>
        <h1>Welcome to MakersBnB</h1>
        <a href="/login">
            <button>Login</button>
        </a>     
        <br>
        <br>
        <br>
        <br>
        <a href="/sign_up">
            <button>Sign up</button>
        </a> 
        


    </body>
</html>

