<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MakersBnB</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1><p class="t-name">{{space.name}}</p></h1>
    <p class="t-location">{{space.location}}</p>
    <p class="t-description">{{space.description}}</p>
    <p class="t-price">{{space.price}}</p>
    
      <a href="/request/{{space.id}}"><button>Request booking</button></a>
      <p>
   

    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <a href="/spaces">Back to listings</a>
  </body>
</html>
